@page "/"

<PageTitle>Home</PageTitle>



<h1>Hello, world!</h1>

bienvenu dans votre application 
<div class="page2">
pour aller vers la page de taches  
<NavLink href="/Task_visual" > ici</NavLink> 
</div>

<div class="page2">
pour Aller vers la page de creation de taches  
<NavLink href="/Create_Task" >ici</NavLink>    
</div>

