@page "/"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <h2>Hello, @context.User.Identity.Name !</h2>    
</AuthorizeView>


bienvenu dans votre application 
<p> &nbsp;</p>

pour alller vers une page click droite sur laquelle



@code{
    protected override async Task OnInitializedAsync(){
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            // L'utilisateur n'est pas authentifié ou n'a pas le rôle requis, rediriger vers la page de connexion ou une autre page.
            NavigationManager.NavigateTo("/login");
            return;
        }
    }
}