@page "/login"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject LoginService loginService
@inject AuthenticationStateProvider authStateProvider

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Username" />
    <InputText @bind-Value="loginModel.Password" type="password" />
    <button type="submit">Login</button>

    @if (!loginSuccess)
    {
        <p style="color: red;">Login Failed</p>
    }
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private bool loginSuccess = true;


    private async Task HandleLogin()
    {
        var user = await loginService.AuthenticateUser(loginModel.Username, loginModel.Password);
        if (user != null)
        {
            //var userClaim = await ((CustomAuthenticationStateProvider)authStateProvider).MarkUserAsAuthenticated(user);

            NavigationManager.NavigateTo("/");
        }
        else
        {
            loginSuccess = false;
            //NavigationManager.NavigateTo("/Error");
        }
    }

    private class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}