@page "/register_faild"



<h1>Un utilisateur avec le même nom d'utilisateur ou la même adresse e-mail existe déjà. </h1>

<NavLink href="/login" class="btn btn-primary">Aller vers la page de connexion</NavLink>


