<!-- TaskList.razor -->
@page "/task_visual"
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@using Front.Entities
@inject TaskService TaskService

<h3>Liste des tâches</h3>

<button @onclick="HandleGet">Obtenir les tâches</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Validation</th>
        </tr>
    </thead>
    <tbody>
        @if (tasks != null)
        {
            @foreach (var task in tasks)
            {
                <tr>
                    <td>@task?.Id</td>
                    <td>@task?.Text</td>
                    <td>@task?.IsDone.ToString()</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Aucune tâche disponible pour le moment.</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<TaskModel> tasks;

    private async Task HandleGet()
    {
        tasks = await TaskService.GetTasksAsync();
    }
}
